# ==================================================
# Python
# ==================================================
__pycache__/
*.py[cod]
*$py.class

# ==================================================
# Virtual Environment
# ==================================================
venv/
.venv/
env/
ENV/

# ==================================================
# IDE
# ==================================================
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# ==================================================
# Jupyter Notebook
# ==================================================
.ipynb_checkpoints/

# ==================================================
# Logs
# ==================================================
*.log

# ==================================================
# Environment Variables
# ==================================================
.env

# ==================================================
# Pytest
# ==================================================
.pytest_cache/

# ==================================================
# Build Files
# ==================================================
build/
dist/
*.egg-info/

# ==================================================
# Temporary Files
# ==================================================
*.tmp
*.swp

# ==================================================
# Do NOT Ignore
# ==================================================
# Keep these folders because they are required
# for the application to run.

#!model/
#!resources/
#!templates/
#!static/